.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  font-family: 'Play';
  font-size: 32px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  width: 100%;
  position: fixed;
  padding: 10em;

}

/* .section-white .fa-4x {
  margin: 5px 10px;
  padding: 20rem
} */

.icons-container {
  margin: auto;
  width: 50%;
  border: 3px;
  padding: 30px;
  text-align: center;
}

a {
  padding-right: 1em; 
}

.container {
  padding-top: 40px;
  padding-right: 50px;
  padding-bottom: 40px;
  padding-left: 30px;
}

.project {
  padding-top: 7vh;
  padding-bottom: 7vh;
}

.project-main-content {
  padding: 40px
}


.project1 {
  background-image: url("assets/people-in-concert-1763075.jpg");
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
}


.project2 {
  background-image: url("assets/black-vinyl-record-playing-on-turntable-1389429.jpg");
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
}


.project3 {
  background-image: url("assets/innovation-LIGHT-BULB-iStock-1023387542.jpg");
  background-position: left top;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 18px;
  font-weight: bold;
  word-wrap: break-word;
}

h2 {
  font-weight: lighter;
}

.external-icon-container {
  padding-top: 30px;
  padding-right: 10px;
  opacity: 0.9;
}

.external-icon-container:hover {
  opacity: 1.0;
}

h5 {
  padding-right: 10px;
}

.section-follow {
  margin: 30px 10px;
  padding: 3px
}

.devicon-ruby-plain {
  font-size: 8.55rem;
  box-sizing: inherit;
  color: white;
}

.devicon-rails-plain {
  font-size: 8.2rem;
  box-sizing: inherit;
  color: white;
  padding-bottom: 20px;
}

/* .devicon-webpack-plain {
  font-size: 8.29rem;
  /* box-sizing: inherit; */
  /* color: white;
  padding-bottom: 20px;
} */ 

.section-skills {
  width: 100%;
  padding-top: 0px

}

.container {
  width: 80%;
  padding: 20px;
  align-content: center;
  
}

i.fab:hover {
  color: rgb(92, 155, 163);
}

.active {
  background-color: transparent;
}

.active:hover {
  background-color: rgb(92, 155, 163);
}

nav {
  font-size: large;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.page-footer {
  padding-top: 20px;
  color: #fff;
  background-color: rgb(92, 155, 163);
}

.container-about-page {
  padding-bottom: 60px;
}

.skills-container {
  padding: 50px;
  padding-top: 40px;
  padding-bottom: 80px
}